@import "bootstrap";

// status button

.btn-group button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group button:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.btn-group button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group button {
  font-weight: 600;
  font-size: small;
}

.btn-group .btn:disabled {
  opacity: 1;
}

body {
  padding-top: 57px;
}
.search-form {

}

.nav-item a {
  font-weight: bold;
}

.app-title {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
  border-bottom: 1px solid #e8e8e8;
}

table.border {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1)
}

.pagination {
  justify-content: center;
}

.page-header {
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
  border-bottom: 1px solid #e8e8e8;
}

.page-header .container {
  padding: 0 3em;
}

.page-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group label {
  font-weight: bold;
  font-size: 0.875em;
}
