@import "bootstrap";

// status button

.btn-group button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group button:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.btn-group button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group button {
  font-weight: 600;
  font-size: small;
}

.btn-group .btn:disabled {
  opacity: 1;
}

body {
  padding-top: 57px;
}
.search-form {

}

.nav-item a {
  font-weight: bold;
}

.app-title {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
  border-bottom: 1px solid #e8e8e8;
}

table.border {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1)
}

.table td.task-name {
  padding: 0;
  position: relative;
}

.table td span {
  font-size: 0.95em;
}

.task-priority-view:hover::before {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -5px;
  border-bottom: solid 2px #b4b3b3;
  border-right: solid 2px #b4b3b3;
  transform: rotate(45deg);
}

.table td {
  vertical-align: middle;
  padding: 0.6em;
}

.table td .task-priority-view {
  padding: 0.25em 0.5em ;
}

.task-priority-high {
  box-shadow: 3.5px 0 #DE4C4A inset;
  border-radius: 0.15em;
}

.task-priority-medium {
  box-shadow: 3.5px 0 #F49C19 inset;
  border-radius: 0.15em;
}

.task-priority-low {
  box-shadow: 3.5px 0 #5ba9d6 inset;
  border-radius: 0.15em;
}

.task-priority-none {
  box-shadow: 3.5px 0 transparent inset;
  border-radius: 0.15em;
}

.task-priority-view {
  padding: 0.25rem 0.5rem;
}

.task-priority-view:hover {
  border: 1px solid #ced4da;
  padding: 0.25rem 0.5rem;
  border-radius: 0.2rem;
}

.pagination {
  justify-content: center;
}

.page-header {
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
  border-bottom: 1px solid #e8e8e8;
}

.page-header .container {
  padding: 0 3em;
}

.page-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group label {
  font-weight: bold;
  font-size: 0.875em;
}

.table tr td a {
  font-weight: 600;
}

table tr td {
  font-size: 0.95em;
}

table thead th {
  font-size: 0.875em;
}

#error_explanation {
  margin-bottom: 0;
  font-size: 0.95em;
  line-height: 1.7;
}

